
    body {
        margin: 0;
        font-family: 'Segoe UI', sans-serif;
        background-color: #00218E;
        height: 100vh;
    }

    a {
        text-decoration: none;
        color: inherit; /* Menggunakan warna teks yang ada */
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        background-color: #ffffff;
        position: fixed;
        z-index: 999;
        width: 98%;
        top: 0;
        left: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo img {
        width: 35px;
    }

    .logo span {
        font-weight: bold;
        font-size: 18px;
        color: #1e1e1e;
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .user-info span {
        font-size: 14px;
    }

    .user-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    /* ===== Responsive navbar Mobile ===== */
    @media (max-width: 700px) {
        .navbar {
            flex-direction: row;
            justify-content: space-between;
            padding: 15px 10px;
        }

        .logo img {
            width: 25px;
        }

        .logo span {
            font-size: 12px;
        }

        .user-info span {
            font-size: 12px;
        }

        .user-icon {
            width: 24px;
            height: 24px;
        }
    }


    /********************** MORE DETAIL*/
    .detail-container {
        background-color: white;
        margin: 200px auto;
        max-width: 800px;  
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        text-align: center; 
    }

    .detail-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .detail-image img {
        max-width: 100%;
        max-height: 300px;
        width: auto;
        height: auto;
        margin-bottom: 4px;
    }

    .detail-specs {
        text-align: center;
        margin: 0 auto;
        max-width: 640px;
    }

    .detail-specs ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 4px;
        display: inline-block; 
        text-align: left;  
    }

    .detail-desc {
        font-size: 16px;
        color: #333;
        margin-bottom: 25px;
        text-align: center;
    }

    .center-btn {
        text-align: center;
    }

    .dipinjam-btn {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        font-weight: 600;
        border-radius: 6px;
    }

    .pinjam-btn {
        background-color: #002499;
        color: white;
        border: none;
        padding: 10px 20px;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
    }

    .pinjam-btn:hover {
        background-color: #001353;
    }

    /* === RESPONSIVE MORE DETAIL MOBILE === */
    @media (max-width: 700px) {
        .detail-container {
        margin: 100px 15px 70px 15px;
        padding: 20px;
        border-radius: 10px;
        padding-top: 30px;
    }

    .detail-title {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .detail-image img {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .detail-specs {
        font-size: 10px;
        padding: 0 10px;
    }

    .detail-specs ul {
        padding-left: 20px;
        font-size: 10px;
    }

    .detail-desc {
        font-size: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .pinjam-btn {
        font-size: 10px;
        padding: 8px 16px;
        width: auto;
        margin-top: 10px;
    }

    .center-btn {
        text-align: center;
    }

    }

    /******************************************FOOTER STYLING UTAMA */
    .footer {
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    margin-top: 35vh;
    }

    .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }

    .footer-text {
    font-size: 14px;
    }

    .footer-logo img {
    width: 40px;
    height: auto;
    }

    /* RESPONSIF FOOTER UNTUK MOBILE */
    @media (max-width: 700px) {

        .footer {
            margin-top: 58vh;
        }
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-text {
        font-size: 12px;
    }

    .footer-logo img {
        width: 28px; 
    }
    }


    .back-button {
        position: fixed;         /* Menempel pada jendela (bukan mengikuti konten) */
        top: 100px;               /* Jarak dari atas */
        left: 20px;              /* Jarak dari kiri */
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 999;            /* Supaya tidak ketutup elemen lain */
    }

    .back-button img {
        width: 60px;
        height: 60px;
        margin-left: 30px;
    }

    @media (max-width: 768px) {
        .back-button {
            display: none;
        }
    }

